{% extends 'shop/base.html' %}
{% block title %} Cart4Fashionista - About {% endblock %}
{% block body %}
{% load static %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-bottom:0; height:635px">
        <div class="container">
            <div class="d-sm-flex half" style="margin-bottom: 0rem">
                <div class="bg order-1 order-md-2"
                    style="background-image: url('../images/aboutus.jpg'); margin-left: 4rem">
                    <img src="{% static 'images/aboutus.jpg'%}"></div>
                <div class="contents order-2 order-md-1">

                    <h1 class="display-3">CART4FASHIONISTA</h1>

                    <p style="text-align:justify ">Welcome to Cart4Fashionista, your number
                        one source for all things related to fashion and clothing.
                        We're dedicated to giving you the very best of clothing, with a focus on
                        dependability, customer service and uniqueness.
                        Founded in 2020 by SHAILEE R. DESAI, Cart4Fashionista has come a long way from its
                        beginnings in a
                        Home office,Gujarat,India. When Shailee first started out, her passion for apparel and be
                        more
                        fashionista drove her to do intense research, and gave her the impetus to turn hard work and
                        inspiration
                        into to a booming online store. We now
                        serve customers all over India and are thrilled to be a part of the trendy wing of the
                        fashion industry.

                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any
                        questions or
                        comments, please don't hesitate to contact us.

                        Sincerely,
                        Name, Shailee R. Desai</p>
                    <!-- <img src='{{baseUrl}}/{{static}}/{{shop}}/{{about1.jpg}}'> -->
                    <p><a class="btn navbar-custom2 btn-lg" href="/shop/contact" role="button">Contact Us
                            &raquo;</a></p>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="container"> -->
    <!-- Example row of columns -->
    <!-- <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr> -->

    <!-- </div> -->
    <!-- /container -->

</main>

<!-- <footer class="container">
    <p>&copy; Company 2020</p>
</footer> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script>
    window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous">
</script>
</body>

</html>


{% endblock%}
{% block js %}{% endblock %}