{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cart4Fashionista {% block title %}
        {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body style="overflow-x: hidden;">

    <main role="main">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="card-title py-3">
                            <h6>Set a new Password.</h6>
                        </div>
                        <form action="{% url 'authenticate:reset-user-password' uidb64 token %}" method="post">
                            {% include 'authenticate/messages.html' %}
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="password" name="password" id="passwordField"
                                    class="form-control form-control-sm" placeholder="Password" />
                                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password2" id="passwordField"
                                    class="form-control form-control-sm" placeholder="Confirm Password" />
                            </div>
                            <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                        </form>
                        <div class="container">
                            <span>Don't have an account?</span><br /><a
                                href="{% url 'authenticate:registration' %}">Create
                                Account</a><br />
                            <br /><span>Already have an account?</span><br /><a href="{% url 'authenticate:login' %}"
                                class="btn btn-primary btn-block">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        </div>
        <script src="{% static 'authenticate/js/username_validation.js' %}"></script>
        <script src="{% static 'authenticate/js/email_validation.js' %}"></script>
        <script src="{% static 'authenticate/js/pass_toogle.js' %}"></script>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script>
        window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>